.seo-plugin-data-info.container {
  width: 500px;
  margin: 50px;
}
.seo-plugin-data-info.container h2 {
  font-size: 26px;
  margin-bottom: 50px;
}

.inner-content-data label {
  font-size: 17px;
}
.inner-content-data .form-group {
  margin-bottom: 21px;
}
.inner-content-data .form-group input.checkbox-data {
  margin-top: 5px;
}
.seo-plugin-data-info.container input.button.button-primary {
  padding: 6px 46px;
  font-size: 14px;
  margin-top: 30px;
}

/* admin file css */
#wpcontent {
  padding-left: 0px;
}

body {
  background-color: #000 !important;
  /* Full dark background */
  color: white !important;
  /* White text for general content */
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 20px; */
}

.container {
  width: auto;
  padding: 20px;
}

h2 {
  margin-top: 0;
  color: white;
  /* Setting the heading color to white */
  text-align: center;
}

.inner-content {
  background-color: #333;
  /* Slightly lighter dark background for the box */
  padding: 20px;
  box-shadow: 0px 0px 10px 0px white;
  /* White shadow */
  border-radius: 10px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-left: 10px;
}

.button {
  background-color: #4caf50;
  /* Updated button color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

.button:hover {
  background-color: #45a049;
}

.seo-plugin-data-info h2 {
  text-align: left;
}

.seo-plugin-data-info.container {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5), 0px 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  /* background: #1c1c1c85; */
  padding: 20px;
}

.seo-plugin-data-info .button.button-primary {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}


/* INTERNAL = END *


/* custom css = START */
.toast-success {
  background-color: #1c1c1c85 !important;
}

.boxtitle {
  background: #B7B7B7;
  display: block;
  color: black;
  padding: 20px;
  text-align: center !important;
  margin-bottom: 20px !important;
}

/* custom css = end */

/* switch = START */
.switch input { 
  display:none;
}
.switch {
  display:inline-block;
  width:50px;
  height:14px;
  margin:5px;
  margin-left: 25px;
  -webkit-transform:translateY(50%);
  transform:translateY(50%);
  position:relative;
}

.slider {
  position:absolute;
  top:0px;
  bottom:0;
  left:0;
  right:0;
  border-radius:20px;
  background: #B7B7B7;
  cursor:pointer;
  border:4px solid transparent;
  overflow:visible;
  -webkit-transition:.4s;
  transition:.4s;
}
.slider:before {
  position:absolute;
  content:"";
  width:22px;
  height:22px;
  background:#706F6F;
  border-radius:100px;
  top: -8px;
  -webkit-transform:translateX(-0px);
  transform:translateX(-0px);
  -webkit-transition:.4s;
  transition:.4s;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);
}

.switch input:checked + .slider:before {
  -webkit-transform:translateX(20px);
  transform:translateX(20px);
  background:#43AD50;
}
.off{
  position: absolute;
  left: -25px;
  top: -5px;
  color: #706F6F;
-webkit-transition: all ease .4s;
  transition: all ease .4s;
}
.on{
  position: absolute;
  right: -20px;
  top: -5px;
   color: #d3d3d3;
  font-family: 'roboto_light',sans-serif;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
.switch input:checked ~ .off {
  color: #d3d3d3;
  
  top: -5px;
}

.switch input:checked ~ .on {
  color: #43AD50;
  
}

/* switch = END */

.switch-label{
  display: inline-block;
  margin: 5px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  font-size: 17px;
  font-weight: 500;  
  color: #B7B7B7;
}


/* effects */
@keyframes grow {
  to {
      transform: scale(5);
      opacity: 0;
  }
}

.particle {
  position: fixed;
  width: 2px;
  height: 2px;
  background: hsla(0, 100%, 100%, 1);
  border-radius: 50%;
  animation: grow 1000ms ease-in forwards;
}

